<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" th:href="@{/favicon.png}"/>

    <link rel="stylesheet" th:href="@{/vendor/materialize/css/materialize.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>

    <title>Utwórz nowe konto koleszko</title>
</head>
<body>
<div th:replace="fragments/menu :: menu"></div>
<div class="login container">
    <div class="col-s12">
        <form method="post">
            <h1>Podaj swój login</h1><br/>
            <input type="text" value="login"/><br/>
            <h2>Podaj swoje hasło</h2>
            <input type="password" value="password"/><br/>
            <h2>Powtórz hasło</h2>
            <input type="password" value="password"/><br/>
            <input type="submit"/>
        </form>
    </div>
</div>
<script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
<script th:src="@{/app.js}"></script>
</body>
</html>